@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply scroll-smooth;
	}

	body {
		@apply font-body;
	}

	h1, h2, h3, h4, h5, h6 {
		@apply font-display;
	}

	button[disabled],
	button[disabled]:hover {
		opacity: .8!important;
		cursor: default!important;
	}

	input:focus, button:focus, select:focus {
		@apply outline-none;
	}
}

@layer components {
	.container {
		@apply mx-auto md:px-8;
	}

	.basic-card {
		@apply rounded-2xl shadow bg-white;
	}

	.custom-select [role=listbox] {
		@apply px-3 py-1 text-sm min-w-[10rem] rounded-md text-gray-700 bg-gray-100 hover:bg-white/50 focus:bg-white border border-gray-300 focus:border-primary-500;
	}

	.custom-select .dropdown-icon {
		@apply w-4 h-4 mr-2 text-gray-500;
	}

	.custom-select [role=option] {
		@apply text-sm font-semibold bg-white disabled:bg-gray-100 hover:bg-gray-100 text-gray-600 disabled:text-gray-500 text-left py-1 px-4;
	}

	.custom-select [role=option][aria-selected=true]{
		@apply text-gray-700;
	}

	.custom-select .selected-icon {
		@apply w-4;
	}
}

@layer utilities {
	.text-shadow-black {
		text-shadow: 0 0 0.25rem rgba(0,0,0,0.2);
	}

	.text-shadow-white {
		text-shadow: 0 0 0.25rem rgba(255,255,255,0.2);
	}
}